--index-url https://mirrors.aliyun.com/pypi/simple

aiohttp==3.6.3; python_full_version >= "3.5.3"
async-timeout==3.0.1; python_full_version >= "3.5.3"
attrs==20.2.0; python_full_version >= "3.5.3"
certifi==2020.6.20; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
chardet==3.0.4; python_full_version >= "3.5.3"
idna==2.10; python_version >= "3.5" and python_full_version >= "3.5.3"
multidict==4.7.6; python_version >= "3.5" and python_full_version >= "3.5.3"
pydes==2.0.1
requests==2.24.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
six==1.15.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
structlog==20.1.0
urllib3==1.25.11; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
yarl==1.5.1; python_version >= "3.5" and python_full_version >= "3.5.3"
